<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home </title>
</head>
<body>
    {{user}}
    {% if Notices%}
     {% for Notic in Notices%}
         <ul>
         <li>  {{Notic.Topic}} id = > {{Notic.id}}</li>
         <a href="{% url 'Home:update_notice' Notic.id %}"> Update Notice </a>

         </ul>
     {% endfor %}
    {% else %}
        <h1> No Notices Found </h1>
        <a href="{% url 'Home:notice_add' %}"> Add Notice </a>
    {% endif %}

    <a href="{% url 'Home:logout' %}"> logout </a>

</body>
</html>