<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update Notice </title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="notice_id" value="{{Notice.id}}">
        
        <input type="text" placeholder="{{Notice.Topic}}" name="topic_name" required> <br>
        <input type="text" placeholder="{{Notice.News}}" name="news" required> <br>
        <!-- <input type="image" placeholder= " Image" name = image > <br> -->

        <input type="submit" value="Add Notice">
     </form>   

</body>
</html>